<launch>
    <node name="passable_area" pkg="passable_node" type="passable_area" output="screen">
        <rosparam file="$(find passable_node)/config/nav_params.yaml" command="load" />
        <rosparam file="$(find passable_node)/config/body_params.yaml" command="load" />
        <rosparam file="$(find passable_node)/config/lidar_params.yaml" command="load" />
    </node>
</launch>
