[Unit]
Description=Passable Area
After=network.target

[Service]
Type=simple
Environment=ROS_LOG_DIR=/root/.ros/log
ExecStart=/bin/bash -lc 'source /opt/robot/scripts/setup_ros2.sh && exec chrt 70 taskset -c 4,5,6,7 ros2 launch passable_area accu_nav.launch.py'
Restart=on-failure
RestartPreventExitStatus=SIGTERM

[Install]
WantedBy=network.target
